__pycache__
Results Presentations/
Ada_Testing/
Datasets/
*.pth
*.npz
*.mp4
Output_Graphics/
Models/11_X_5K_M_Testing_updates2 - Training Results/11_X_5K_M_Testing_updates2 - Model + Optimiser State Dicts.pth
histogram_with_fit.png
MCtest.py
DC3D_V3_DoubleMask/
DC3D_V3_Masking/
Raw Root Data/
